<?xml version="1.0"?>
<model>
   <name>Pioneer 2DX</name>
   <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Sebastian Sansoni</name>
    <email>seba@sansoni.com</email>
  </author>

  <description>
    A modified model of the pioneer 2 dx robot.
   </description>
 
   <depend>
  </depend>
</model>
